<div id="show" class="modal">
  <div class="modal-content">
    <h4>Municipe</h4>
      <h5>Dados Pessoais</h5>
      <div class="row">
        <div class="col s12">
          <label for="nome">Nome</label><br>
          <span id="nome"></span>
        </div>

        <div class="col s4">
          <label for="email">Email</label><br>
          <span id="email"></span>
        </div>

        <div class="col s4">
          <label for="cpf">CPF</label><br>
          <span id="cpf"></span>
        </div>

        <div class="col s4">
          <label for="dt_nasc">Data de Nascimento</label><br>
          <span id="dt_nasc"></span>
        </div>

        <div class="col s4">
          <label for="telefone">Telefone</label><br>
          <span id="telefone"></span>
        </div>

        <div class="col s4">
          <label for="telefone">Status</label><br>
          <span id="status"></span>
        </div>

        <div class="col s4">
          <label for="foto">Foto</label><br>
          
        </div>

      </div>
      <h5>Endereço</h5>
      <div class="row">
        <div class="col s12">
          <label for="cep">CEP</label><br>
          <span id="cep"></span>
        </div>
        <div class="col s8">
          <label for="logradouro">Logradouro</label><br>
          <span id="logradouro"></span>
        </div>
        <div class="col s2">
          <label for="numero">Número</label><br>
          <span id="numero"></span>
        </div>
        <div class="col s2">
          <label for="complemento">Complemento</label><br>
          <span id="complemento"></span>
        </div>
        <div class="input-field col s4">
          <label for="bairro">Bairro</label><br>
          <span id="bairro"></span>
        </div>
        <div class="input-field col s4">
          <label for="municipio">Municipio</label><br>
          <span id="municipio"></span>
        </div>
        <div class="input-field col s4">
          <label for="uf">UF</label><br>
          <span id="uf"></span>
        </div>
        <div class="input-field col s4">
          <label for="codigo_ibge">Código IBGE</label><br>
          <span id="codigo_ibge"></span>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <%# <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> %>
  </div>
</div>