<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Municipes</h1>
  <div class="row">
    <div class="col s2">
      <a class="waves-effect waves-light btn" id="create-municipe-button">Cadastrar</a>
    </div>

    <div class="col s5 right">
      <%= form_with action: municipes_url, method: :get do %>
        <button class="btn right">Buscar</button>
        <%= text_field :query, nil, class: "col s2 right" %>
      <% end %>
    </div>
  </div>

  <div id="municipe-list" class="municipe-list">
    <%= render "municipes/list" %>
  </div>
  <br>
</div>