<p>
<h1>Notificação de Cadastro</h1>
</p>

<p>
Você foi Cadastrado com os seguintes dados:
</p>

<p>
  <b>Nome:</b><%= @municipe.nome %>
</p>

<p>
  <b>CPF:</b><%= @municipe.cpf %>
</p>

<p>
  <b>Telefone:</b><%= @municipe.telefone %>
</p>

<p>
  <b>Email:</b><%= @municipe.email %>
</p>